@model IEnumerable<WebApp.Models.User>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["USERS"];
}

<p>
    <a asp-action="Add">@Localizer["ADD_USER"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Localizer["LOGIN"]</th>
            <th>@Localizer["CREATED"]</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.ActionLink(Localizer["DELETE"].Value, "Del", new { login = item.Login })
            </td>
        </tr>
}
    </tbody>
</table>
